                                    /*================== MAIN CSS =====================*/
                            /* -------- devolped by "http://kareem-shahhat.me" -------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
/* start variables */
:root{
    --color1: #f8c12c;
    --color2: #303030;
    --color3: #e6e6e6;
    --color4: #2e2e2e;
}
/* start variables */
/* global rules */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
}
a,a:hover{
    text-decoration: none;
}
.container{
    padding-left:15px ;
    padding-right:15px ;
    margin-left:auto ;
    margin-right:auto ;
}
/* small screen */
@media(min-width:768px){
    .container{
        width: 750px;
    }
}
/* medium screen */
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
/* large screen */
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}
.barline{
    width: 110px;
    height: 5px;
    border-color: #d8a419;
    border-width: 2px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
/* ==== end global rules ====*/
/* ---------- bootstrap setup ------- */
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
/* ============= start header ============= */

/*---------- start hero ---------*/

.carousel-inner{
    text-align: center;
    display: flex;
    background-image:url(../img/slider-1.jpg);
    height: 50vh;
    justify-content: center;
    align-items: center;
}
.carousel-inner .title_shop h4{
    font-size: 3rem;
    color: var(--color3);
    font-family: 'Poppins', sans-serif;
}
.carousel-inner .title_shop h2{
    font-size: 4.5rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-shadow: 5px 5px 8px #000000c2;
    color: var(--color1);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
/*---------- end hero ---------*/

/* ------------ start items ---------- */
.items{
    padding-top: 50px;
    padding-bottom: 50px;
}
.item {
    margin-bottom: 20px;
}
.item .details{
    height: 358px;
    overflow: hidden;
    position: relative;
    box-shadow: 3px 5px 6px #00000029;
    border-radius: 5px;
}
.item .details .box1{
    display: flex;
    /* position: absolute;
    left: 0;
    padding: 20px;
    width: 100%;
    bottom: -100%; */
    transition: 0.3s;
    border-radius: 5px;
    overflow: hidden;
}
.item .details img{
    width: 100%;
    height: 100%;
    transition: 0.3s;
}
/* .item .details img :hover{
    transform: translate(0px,-5px) scale(1.1,1.1);
}   */
.item .details .box1 span{
    text-align: center;
    font-size: 13px;
    padding: 19px 8px 0;
    flex-basis: 50%;
    background-color: var(--color1);
    color: white;
    height: 60px;
}
.item .details .box1 .fr{
    background-color: #2e2e2e;
}
.item .details .box1 span a{
    font-size: 13px;
    color: white;
}
.item .info2 {
    border-radius: 5px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.items .info2 .sale{
    justify-content: center;
    height: 45px;
    width: 45px;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--color1);
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.items .info2 .box{
    text-align: center;
}
.items .info2 .box .name{
    font-size: 1.2rem;
    font-weight: 600;
}
.items .info2 .box .price{
    margin-top: 10px;
} 
.items .info2 .box .price .old_pr{
    margin-right: 10px;
    font-weight: 500;
    color: #a4a4a4;
    text-decoration: line-through;
}
.items .info2 .box .price .new_pr{
    color: #d8a419;
    font-weight: 500;
} 
.item .details:hover .box1{
    transition: .3s;
    /* bottom: 0; */
    margin-top: -55px;
}
/* .item .details:hover img{
    transform: translate(0px,-5px) scale(1.1,1.1);
} */

/* ------------ end items ---------- */

/*############## start media for phone ##############*/
@media(max-width:768px){
    
}
/*############## end media for phone ##############*/

/* ############## media query for Tablet ############## */
@media only screen and (min-width: 768px) {
    
}
/* ############## media query for Tablet ############## */

/* *********************** media for very small phone  ************************ */
@media(max-width:575px){
    
}

/*############## start media for desktop ##############*/
@media only screen and (min-width: 1200px) {
    /* ------ hero ------- */
    .hero .carousel-inner .carousel-caption {
        left: 30%;
    }
}
/*############## end media for desktop ##############*/